#container {
    width: 800px;
    background-color:whitesmoke;
    display:flex;
    text-align:center;
}
.rectangle {
    width: 150px;    
    background-color:rebeccapurple;
    margin: 20px;
    color: #fff;
    text-align:center;   
    padding-top: 15px;
    padding-bottom: 15px;
}
.circle {
    width: 150px;  
    border-radius: 15px;  
    background-color:rgb(29, 70, 43);
    margin: 20px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.rec-2 {
    width: 150px;   
    background-color:white;
    margin: 20px;
    text-align:center;
    color: #000;
    border : 2px solid green;
    padding-top: 15px;
    padding-bottom: 15px;
}
@keyframes my-animation {
    0% {
        transform : translateX(0);
    }
    50% {
        transform :translateX(10px);
    }
    100% {
        transform :rotate(90deg);
    }
}
#row-1:hover div{
    animation-name: my-animation;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}
#row-2:hover div{
    animation-name: my-animation;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}
#row-3:hover div{
    animation-name: my-animation;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}